:root {
  --session-image: none;
}
.box-minmax {
  margin-top: 30px;
  width: 608px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: #ffffff;
  span:first-child {
    margin-left: 10px;
  }
}
.rs-range {
  // margin-top: 29px;
  width: 100%;
  -webkit-appearance: none;
  border-radius: 30px;
  height: 15px;
  &:focus {
    outline: none;
  }
  &::-webkit-slider-runnable-track {
    width: 100%;
    height: 10px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 300px;
    border: 0px solid #010101;

    content: "";
    position: absolute;
    background-color: #43e5f7; // Initial color
    // height: 100%;
    width: 0;
    // z-index: -1;
  }
  &::-moz-range-track {
    width: 100%;
    height: 30px;
    cursor: pointer;
    box-shadow: none;
    background: #ffffff;
    border-radius: 700px;
    border: 0px solid #010101;
  }

  &::-webkit-slider-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 20px;
    width: 20px;
    border-radius: 22px;
    background: #6229b3;
    background-image: var(--session-image);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
  }
  &::-moz-range-thumb {
    box-shadow: none;
    border: 0px solid #ffffff;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 22px;
    // background: rgba(255, 255, 255, 1);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
  }
  &::-moz-focus-outer {
    border: 0;
  }
}
// .rs-label {
//   position: relative;
//   transform-origin: center center;
//   display: block;
//   width: 40px;
//   height: 40px;
//   background: transparent;
//   border-radius: 50%;
//   line-height: 30px;
//   text-align: center;
//   font-weight: bold;
//   padding-top: 22px;
//   box-sizing: border-box;
//   border: 2px solid #fff;
//   margin-top: 20px;
//   margin-left: -38px;
//   left: attr(value);
//   color: #fff;
//   font-style: normal;
//   font-weight: normal;
//   line-height: normal;
//   font-size: 20px;
//   &::after {
//     content: "kg";
//     display: block;
//     font-size: 20px;
//     letter-spacing: 0.07em;
//     margin-top: -2px;
//   }
// }
