@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #181816;
  background: #ffffff;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.fc-header-toolbar {
  display: inline-block;
  padding: 2px 2px;

  @apply space-x-2 text-[0.5rem];
}

.fc-day {
  @apply m-4 text-sm border-transparent;
}

.fc-scrollgrid-sync-table {
  @apply w-full;
}

.fc-view {
  @apply w-full h-full lg:h-3/4 xl:h-2/3;
}


.fc-h-event {
  @apply bg-violet-500 border border-violet-600;
}

.fc .fc-daygrid-day.fc-day-today {
  @apply bg-violet-400 border-none;
}

.fc .fc-button {
  @apply bg-violet-800 hover:bg-violet-900;
}

.fc .fc-button-primary:not(:disabled).fc-button-active {
  @apply bg-violet-600;
}
.fc-col-header-cell-cushion{
  @apply  text-[0.7rem];

}
.fc .fc-button-primary:disabled {
  @apply bg-violet-600;
}
.fc-v-event {
  @apply bg-violet-500 border border-violet-600;
}
